.creatorbody{
background: url('https://64.media.tumblr.com/468ba94ecf347818a68b180ccd1ea239/tumblr_o4419gj4kF1rvn6njo1_500.gif');
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
}
